// General Containers

.l-constrained {
  @include outer-container;
  padding: 0 $page-gutter;
}

.l-main {
  @include media-ie($breakpoint-ipad) {
    @include span-columns(8);
  }
}

.l-sidebar {
  @include media-ie($breakpoint-ipad) {
    @include span-columns(4);
  }
}

.l-half {
  @include media-ie($breakpoint-ipad) {
    @include span-columns(6);
  }
}
