-# Hero
%section#header.hero.js-browserHeight
  .layout-constrained
    .mod-logo= image_tag "logo.png"
    .call
      %h3 Get Your Business Moving
      %h4 with a brand new responsive website launched in 3 weeks for $3000.
      %a.btn-primary.large{ href: "#", target: "_blank" } Get Started
      
      
    
