-# Intro
%section.m-intro(data-resize="1100")
  .l-constrained
    .intro-logo= image_tag "logo.png"
    .intro-callout
      %h1 Get Your Business Moving
      %h4 With a brand new responsive website launched in 3 weeks for $3000.
      %a.btn-primary.large{ href: "#start" } Get Started


-# About
%section.m-about
  .l-constrained
    %h1 Smart, Simple & Effective
    .about-overview
      %p Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.

      %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum    


-# Features
%section.m-features
  .l-constrained
    .features-tagline
      %h5 Websites designed to get your product, service, location or event noticed.
    .features-display
      = image_tag "responsive-display.png"
      %small= link_to "AIGA Dish Conference 2013", "http://www.lacroixdesign.net/portfolio/dish-2013", target: "_blank"
  .l-constrained
    .features-item
      %h2 Get Online Quickly
      %p In today's competitive market, your website is a crucial channel for reaching your audience. Through our design process, we will work with you to get a fantastic website online quickly.
    .features-item
      %h2 Custom Design
      %p Your business is unique so your website should be as well. Each site will be designed specifically for your brand and content. 
    .features-item
      %h2 Great On Every Device
      %p Your site will look great on any size screen. Using responsive web design, we will create a website that responds and adapts to the browser size to create a great experience on every device. 


-# Details
%section.m-details
  .l-constrained
    .details-rules
      %h1 What You Will Receive
      %ul
        %li You will receive an an eye catching responsive website with static content designed to market your product, service, location or event. 
    .details-rules
      %h1 What You Won't Receive
      %ul
        %li Copywriting, custom photography and branding elements are not included. However, we do offer these services and would love to partner with you to create them but it will affect cost and timeline.
        %li Site will be composed of static content and therefore, there will not be a content management system. If you would require on, we are well versed in creating these solutions. We could quote out this project for you if needed. 
        %li Hosting is not included. We offer very affordable hosting packages or, we can recommend a solution for you and handle the installation of the site. 
        %li Domain Registration is not included, therefore
                

-# Why Us
%section.m-studio
  .l-constrained
    %h1 Why You Should Hire Us
    

-# Get Started
%section#start.m-start
  .l-constrained
    %h1 How Do You Get Started
    %ol.start-steps
      %li Fill out the contact form below.
      %li You will be contacted with some questions to help us better understand your goals for the project.
      %li We will assesses your answers and you will receive a proposal outlining the project.
      %li.old-ie-alpha Once accepted, we will work with you to finalize content for the site.
      %li We will build a live working prototype of your site. 
      %li Once finalized, we will get your site live. 


-# Footer      
%section#footer.m-footer
  .l-constrained
    %p Designed &amp; Developed by #{link_to "LaCroix Design Co.", "http://www.lacroixdesign.net", target: "_blank"}
