-# Intro
%section.m-intro(data-resize="1100")
  .layout-constrained
    .intro-logo= image_tag "logo.png"
    .intro-callout
      %h3 Get Your Business Moving
      %h4 with a brand new responsive website launched in 3 weeks for $3000.
      %a.btn-primary.large{ href: "#", target: "_blank" } Get Started
