.m-intro {
  margin: auto;
  background: $dark-gray image-url("cycle-bg.jpg") no-repeat center center;
  background-size: cover;
  color: $white;
  padding-bottom: 4em;
  
  .intro-logo {
    padding-bottom: 4em;

    img {
      width: 10em;
    }
  }
  
  .intro-callout {    
    h1 {
      font-weight: 900;
      font-size: 3em;

      @include media-ie($breakpoint-ipad) {
        font-size: 4em;
      }
    }
  }

}
