.m-intro {
  padding-bottom: 4em;
  background: $dark-gray image-url("cycle-bg-light.jpg") no-repeat center center;
  @include background-size(cover);
  color: $white;

  header {
    @include clearfix;
  }
  
  .intro-logo {
    float: left;
    width: 6em;
    margin-bottom: 4em;

    img {
      width: 100%;
    }

    @include media-ie($breakpoint-ipad) {
      width: 10em;
    }

  }

  .intro-social {
    @include unstyled-list;
    float: right;
    margin: 0.5em 0;
    font-size: 1.5em;

    li {
      display: inline-block;
      margin: 0 0 0 0.25em;
      &:first-child { margin-left: 0; }
    }

  }
  
  .intro-callout {
    h1 {
      font-size: 3em;
      font-weight: 900;

      @include media-ie($breakpoint-ipad) {
        font-size: 4em;
      }
    }

    h4 {
      margin-bottom: 2em;
    }

  }

}
