.m-start {
  background: $green;
  padding: 2em 0;
  
  .start-steps {
    counter-reset: getting-started-steps;
    margin-left: 0;
  }

  .start-steps li:before {
    content: counter(getting-started-steps);
    counter-increment: getting-started-steps;
    position: absolute;
    left: 0;
    top: 0;
    font-family: $typeface-serif;
    font-size: 2.75em;
    font-weight: 400;
  }

  .start-steps li {
    position: relative;
    padding-top: 0.5em;
    padding-left: 2em;
  }

  .start-steps li {
    @include media($breakpoint-ipad) {
      @include span-columns(6);
      @include omega;
    }

    @include media-ie($breakpoint-desktop) {
      @include span-columns(4);
      @include omega;
    }
  }

}
